* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
}

#error {
	height: 100vh;
}

#error {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	text-align: center;
	line-height: 1.7;
	color: #777;
}
#error h1 {
	margin-bottom: 0;
}
#error h2 {
	margin: 10px 0;
}
.error_sad i {
	font-size: 150px;
	padding: 0 10px 10px 0;
	color: #777;
}
